:root {
    --primary: #1E201E;
    --secondary: #3C3D37;
    --tertiary: #697565;
    --quarternary: #ECDFCC;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#app {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow-y:scroll;
}

#navbar {
    display: flex;
    width:100%;
    max-height:29px;
    margin:0;
    background-color: var(--primary);
}

#page {
    display:flex;
    /* flex-direction:; */
}

#folderSection, #counterSection {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-width: 320px;
    
}

#folderSection {
    background-color: var(--secondary);
    border-right: 1px solid var(--tertiary);
}

#counterSection {
    background-color: var(--primary);
}

h2 {
    margin-top: 0;
    color: var(--quarternary)
}

#counterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: var(--quarternary)
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--quarternary);
}
button:hover {
    background-color: white;
}

.folder {
    padding: 10px;
    background-color: var(--tertiary);
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.folder.selected {
    background-color: var(--quarternary);
    border: 2px solid var(--primary);
}

.folder.dragging {
    opacity: 0.5;
}

#countersContainer{
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.counter {
    /* padding: 10px; */
    background-color: var(--quarternary);
    margin-bottom: 5px;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    flex-wrap: wrap;
}

.counter h1 {
    width:100%;
    text-align: center;
    margin:0;
    font-size: 1.5em;
    background: var(--tertiary);
}

.counter .increment-div {
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3px 0;
}
.increment {
    font-size: 2em;
    width:60px;
}

.counter span {
    margin:0;
    width:20%;
    font-size: 1.5em;
    text-align: center;
}

.counter input[type="number"] {
    width: 30px;
    /* margin-left: 10px; */
    margin-top:5px;
}

.edit-modal {
    position:fixed;
    /* left:400; */
    display:flex;
    flex-direction: column;
    padding:5px;
    background-color: white;
}
.edit-modal button {
    background-color: white;
}
.edit-modal p {
    margin:0;
    text-align: center;
}
.counter-edit {
    padding: 0px;
}

.hidden {
    display:none;
}