body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#app {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

#folderSection, #counterSection {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-width: 320px;
}

#folderSection {
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}

#counterSection {
    background-color: #fff;
}

h2 {
    margin-top: 0;
}

#counterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.folder {
    padding: 10px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.folder.selected {
    background-color: #d0d0d0;
    border: 2px solid #007bff;
}

.folder.dragging {
    opacity: 0.5;
}

.counter {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter input[type="number"] {
    width: 50px;
    margin-left: 10px;
}
